@model List<WordInfoModel>

@foreach(var item in Model)
{
    <div>@item.Word</div>
    <div>@item.PartOfSpeech</div>
    <div>@item.Definition</div>
    <div>@item.Examples</div>
    <div>@item.Synonyms</div>



}